#sections
  #devise-wrapper
    .devise
      .devise-top
       %h1 Resend confirmation instructions

		= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
		  = devise_error_messages!
		  .under
		    = f.label :email
		    .dev
		    = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
		  .center-content
		    = f.submit "Resend confirmation instructions"
		  .center-devise
				= render "devise/shared/links"