Leerdoelen
%table
  %tr
    %th Naam
    %th Competentie
    %th Leerjaar
    %th Semester
    %th Behaald?
  - @learning_objectives.each do |lo|
    %tr
      %td= lo.name
      %td= lo.competency.name unless lo.competency.nil?
      %td= lo.academic_year
      %td= lo.period
      %td= lo.achieved
      %td= link_to 'Show', student_learning_objective_path(lo)
      %td= link_to 'Leerdoel aanpassen', edit_student_learning_objective_path(lo)
      %td= link_to 'Leerdoel verwijderen', student_learning_objective_path(lo), method: :delete, data: { confirm: 'Weet je het zeker?' }
= link_to 'Nieuw', new_student_learning_objective_path
= link_to 'Terug naar Dashboard', student_root_path
= link_to 'Log uit', destroy_user_session_path, method: :delete, data: { confirm: 'Weet je het zeker?' }