#sections
  %h2 Overzicht van je leerdoelen 
  
  - @learning_objectives.each do |lo|
    %li{class: "#{calculate_color(lo.id)} competenties"}


      %h2.name
        %h2= link_to lo.name, student_competency_learning_objective_path(lo.competency.id, lo)

      .lo_block
        = link_to 'Activiteiten', student_competency_learning_objective_activities_path(lo.competency.id, lo)
        |
        = link_to 'Bewijslast', student_competency_learning_objective_activities_path(lo.competency.id, lo)
        |
        = link_to 'Feedback', student_competency_learning_objective_activities_path(lo.competency.id, lo)

  .under
  .overview
    .overview_link
      = link_to '+ Een nieuw leerdoel aanmaken', new_student_competency_learning_objective_path

  .under
    = link_to 'Terug naar het Dashboard', student_root_path

