= current_user.id
= @competency # doet hij nog neit want staat niet in de goede controller gedefinieerd
Leerdoelen bij
%table
  %tr
    %th Leerdoel
  - @learning_objectives.each do |lo|
    %tr
      %td= link_to lo.name, student_competency_learning_objective_activities_path(lo.competency.id, lo)
      %td= link_to 'Lees verder', student_competency_learning_objective_path(lo.competency.id, lo)
= link_to 'Een nieuw leerdoel aanmaken', new_student_competency_learning_objective_path
