#sections
  %h2 Nieuw leerdoel
  = form_for [:student, :competency, @learning_objective]  do |lo|
    
    .dev
      = lo.label 'Omschrijving'
      .sub
        = lo.text_area :name, :id => "message_area"
    .dev
      = lo.label 'Competentie'
      .sub
        = lo.collection_select :competency_id, Competency.all, :id, :name, class: "label_box" 
    .dev
      = lo.label 'Leerjaar'
      .sub
        = lo.number_field :academic_year, :class => "label_box"
    .dev
      = lo.label 'Semester'
      .sub
        = lo.number_field :period, :class => "label_box"
    .dev 
      = lo.submit 'Bevestig', :class => 'submit_button'

  .under
    = link_to 'Terug naar Dashboard', student_root_path


    
