<table>
  <tr>
    <th>Naam</th>
    <th>Competentie</th>
    <th>Leerjaar</th>
    <th>Semester</th>
    <th>Behaald?</th>
  </tr>

  <tr>
    <td><%= @learning_objective.name %></td>
    <td><%= @learning_objective.competency_id %></td>
    <td><%= @learning_objective.academic_year %></td>
    <td><%= @learning_objective.period %></td>
    <td><%= @learning_objective.achieved %></td>

  </tr>
</table>
<%= link_to 'Back', student_root_path %>