Competenties
%table
  %tr
    %th Naam Competentie
    %th Competentie Omschrijving 
    %th Competentie actief?
  - @competency.each do |co|
    %tr
      %td= co.name
      %td= co.description
      %td= co.active
      %td= link_to 'Show', admin_competency_path(co)
      %td= link_to 'Competentie aanpassen', edit_admin_competency_path(co)
      %td= link_to 'Competentie verwijderen', admin_competency_path(co), method: :delete, data: { confirm: 'Weet je het zeker?' }
= link_to 'Nieuw', new_admin_competency_path
= link_to 'Log uit', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }

