#sections
  %h2 Geef je huidige activiteit context

  = form_for @context, url: student_competency_learning_objective_activity_contexts_path do |co|

    .dev
      = co.label 'Omschrijving Context'
      .sub
        = co.text_area :description, :id => "message_area"
   
    .under
      = co.submit 'Bevestig', :class => 'submit_button' 

  .under
    = link_to 'Terug naar alle activiteiten', student_competency_learning_objective_activities_path

