#sections
  %h2 Huidige activiteit aanpassen
  = form_for @activity, url: student_competency_learning_objective_activity_path do |ac|
    
    .inside_block_up
      = ac.label 'Omschrijving Activiteit'
    .inside_block_mid
      = ac.text_area :description, :id => "message_area"
   
    .inside_block_down
      = ac.submit 'Bevestig', :class => 'submit_button'
  .under
    = link_to 'Terug naar activiteiten', student_competency_learning_objective_activities_path