#sections
  %h2 Activiteit bekijken

  - @activity.each do |ac|
  
    .overview
      .overview_link
        %h2 Activiteit:
        %p= ac.description

        = puts "competecy id: #{params[:competency_id]}"
        = puts "learning_objective_id: #{params[:learning_objective_id]}"
        
        %p= link_to 'Meer informatie', student_competency_learning_objective_activity_path(learning_objective_id: params[:learning_objective_id], id: ac.id)

        %p= link_to 'Bewijs bij activiteit', student_competency_learning_objective_activity_proofs_path(params[:competency_id], params[:learning_objective_id], ac.id)
        
  
  .overview
    .overview_link
      = link_to '+ Nieuwe activiteit', new_student_competency_learning_objective_activity_path
      
  .under
  =link_to "Terug naar overzicht", student_competency_learning_objectives_path
  |
  = link_to 'Terug naar Dashboard', student_root_path


