%h1 Nieuwe activiteit aanmaken!
= form_for @activity, url: student_competency_learning_objective_activities_path do |ac|
  %p
    = ac.label 'Omschrijving Activiteit'
    %br
      = ac.text_field :description
 
  %p
    = ac.submit 'Bevestig'

= link_to 'Terug naar alle activiteiten', student_competency_learning_objective_activities_path(@learning_objective.competency.id, @learning_objective.id)
