#sections
  %h2 Nieuwe activiteit aanmaken
  
  = form_for @activity, url: student_competency_learning_objective_activities_path do |ac|
  
    %p= ac.label 'Omschrijving Activiteit'
  
    .dev
      .sub
        = ac.text_area :description,  :id => "message_area"


    .dev 
      .sub
        = ac.submit 'Bevestig', :class => 'submit_button'

  
  .under
    = link_to 'Terug naar alle activiteiten', student_competency_learning_objective_activities_path
