#sections
  %h2 Omschrijving activiteit
  %p= @activity.description
  %p= @co

  .under
  .overview
    .overview_link
      = link_to 'Activiteit aanpassen', edit_student_competency_learning_objective_activity_path
  
  .under
  .overview
    .overview_link
      = link_to 'Activiteit verwijderen', student_competency_learning_objective_activity_path, method: :delete, data: { confirm: 'Weet je het zeker?' }

  .under
  .overview
    .overview_link
      -if @context.nil?
        = link_to 'Context toevoegen', new_student_competency_learning_objective_activity_context_path(params[:competency_id], @activity.learning_objective, @activity)
      -else @context.nil?
        = link_to 'Context aanpassen', edit_student_competency_learning_objective_activity_context_path(params[:competency_id], @activity.learning_objective, @activity, @context)
        = link_to 'Context verwijderen', student_competency_learning_objective_activity_context_path(params[:competency_id], @activity.learning_objective, @activity, @context), method: :delete, data: { confirm: 'Weet je het zeker?' }
  
  .under
    = link_to 'Terug naar activiteiten bij huidig leerdoel', student_competency_learning_objective_activities_path
    |
    = link_to "Terug naar overzicht van je leerdoelen", student_competency_learning_objectives_path
    |
    = link_to 'Terug naar Dashboard', root_path