Dashboard student 
%br
= link_to 'Alle leerdoelen', student_learning_objectives_path
%br
= link_to 'Nieuw leerdoel aanmaken', new_student_learning_objective_path
%br
= link_to 'Design & Experience', admin_competency_path(31)
%br
= link_to 'Research & Innovation', admin_competency_path(32)
%br
= link_to 'Implementation & Integration', admin_competency_path(33)
%br
= link_to 'Projectmanagement & Leadership', admin_competency_path(34)
%br
= link_to 'Communication & Sharing', admin_competency_path(35)
%br
= link_to 'Growth & Reflection', admin_competency_path(36)


