Dashboard student 

= link_to 'Alle leerdoelen', student_learning_objectives_path
= link_to 'Nieuw leerdoel aanmaken', new_student_learning_objective_path
= link_to 'Design & Experience', admin_competency_path(31)
= link_to 'Research & Innovation', admin_competency_path(32)
= link_to 'Implementation & Integration', admin_competency_path(33)
= link_to 'Projectmanagement & Leadership', admin_competency_path(34)
= link_to 'Communication & Sharing', admin_competency_path(35)
= link_to 'Growth & Reflection', admin_competency_path(36)


