#sections
  #devise-wrapper
    .devise
      .devise-top
        %h1 Wachtwoord vergeten?

      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        .under
          = f.label :email
          .dev
          = f.email_field :email, autofocus: true, :class => "devise_label_box"
        
        .center-content
          = f.submit 'Verstuur', :class => 'submit_button'
        .center-devise
          = render "devise/shared/links"