#sections
  
  .user_overview
    %h2 Naam
    .user_overview_inside    
      - @student.each do |st|
        = st.education_name  
        =link_to "Bekijk profiel", student_root_path

  .user_overview
    %h2 Functie
    .user_overview_inside 
      Student
  .user_overview
    %h2 Telefoonnummer
    .user_overview_inside 
      Tel nr. hier
  .user_overview
    %h2 E-mailadres
    .user_overview_inside 
      - @student.each do |st|
        = st.email
  %hr

  .user_overview
    .user_overview_inside    
      - @teacher.each do |te|
        = te.education_name
        =link_to "Bekijk profiel", admin_user_index_path  
  .user_overview
    .user_overview_inside 
      Docent
  .user_overview
    .user_overview_inside 
      Tel nr. hier
  .user_overview
    .user_overview_inside 
      - @teacher.each do |te|
        = te.email
  %hr

  .user_overview
    .user_overview_inside    
      - @admin.each do |ad|
        = ad.education_name  
        =link_to "Bekijk profiel", admin_user_index_path
  .user_overview
    .user_overview_inside 
      Docent
  .user_overview
    .user_overview_inside 
      Tel nr. hier
  .user_overview
    .user_overview_inside 
      - @teacher.each do |ad|
        = ad.email

  