#sections
  //Admins//
  .user_overview
    %h2 Naam
    .user_overview_inside    
      - @admin.each do |ad|
        %p
          = ad.education_name  
        %hr

  .user_overview_mob
    %h2 E-mailadres
    .user_overview_inside 
      - @admin.each do |ad|
        %p
          = ad.email
        %hr

  .user_overview
    %h2 Functie
    .user_overview_inside 
    - @admin.each do |ad|
      %p Admin
      %hr

  .user_overview
    %h2 Profielen
    .user_overview_inside 
    - @admin.each do |ad|
      %p
        =link_to "Bekijk profiel", admin_user_index_path 
      %hr

  //Teachers//
  .user_overview
    .user_overview_inside    
      - @teacher.each do |te|
        %p
          = te.education_name
        %hr

  .user_overview_mob
    .user_overview_inside 
      - @teacher.each do |te|
        %p
          = te.email
        %hr
  .user_overview
    .user_overview_inside 
    - @teacher.each do |te|
      %p Docent
      %hr

  .user_overview
    .user_overview_inside 
    - @teacher.each do |te|
      %p
        =link_to "Bekijk profiel", admin_user_index_path 
      %hr


  //Students//
  .user_overview
    .user_overview_inside    
      - @student.each do |st|
        %p
          = st.education_name  
        %hr

  .user_overview_mob
    .user_overview_inside 
      - @student.each do |st|
        %p
          = st.email
        %hr

  .user_overview
    .user_overview_inside 
    - @student.each do |st|
      %p Student
      %hr

  .user_overview
    .user_overview_inside 
    - @student.each do |st|
      %p
        =link_to "Bekijk profiel", admin_user_index_path 
      %hr

  .under
    = link_to 'Terug naar dashboard', root_path