
/ @student.each do |variable|
/ 	variable.name
/ end
/ @teacher.each do |variable|
/ 	variable.name
/ end
/ @admin.each do |variable|
/ 	variable.name
/ end
Alle studenten
%table
  %tr
    %th Student naam
    %th Student email 
  = @student.count
  - @student.each do |st|
    %tr
      %td= st.education_name
      %td= st.email
      %td= @student.count


Alle docenten
%table
  %tr
    %th Docent naam
    %th Docent email 
  = @teacher.count
  - @teacher.each do |te|
    %tr
      %td= te.education_name
      %td= te.email




      Alle admins
%table
  %tr
    %th Admin naam
    %th Admin email 
  = @admin.count
  - @admin.each do |ad|
    %tr
      %td= ad.education_name
      %td= ad.email

= link_to 'Terug naar Admin Dashboard', admin_root_path
