#sections
  .devise-wrapper
    .devise
      .devise-top
        %h1 Inloggen

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .under
          = f.label :email
        .dev
        = f.email_field :email, autofocus: true, :class => 'devise_label_box'
        .dev
        = f.label :password
        .dev
        = f.password_field :password, autocomplete: "off", :class => 'devise_label_box'
        
        - if devise_mapping.rememberable?
          .dev
            = f.check_box :remember_me
            = f.label :remember_me
        
        .center-content
          = f.submit "Log in", :class => 'submit_button'
        
        .center-devise
        = render "devise/shared/links"