!!!
%html
  %head
    %title LearnWeb
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "desktop.css", :media => "screen and (min-width: 801px)", :rel => "stylesheet"}/
    %link{:href => "mobile-style.css", :media => "screen and (min-width: 100px) and (max-width: 799px)", :rel => "stylesheet"}/
    
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=yes", :name => "viewport"}/
    
  %body
    #wrapper
    .button-wrapper
      .wrapper-items
        ._1
          %h6 searchform
        ._2
          %a.home{:href => "#.html.haml"} Learnweb
        ._3
          %h6 Ingelogd als: [User name hier ]
        ._4
          %a{:href => "#.html.haml"} Afmelden
    - flash.each do |name, msg|
      = content_tag :div, msg, class: name

    = yield



